
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #10204d;
  color: #333;
}

section {
  padding: 50px 20px;
  text-align: center;
}

header, footer {
  padding: 20px;
  text-align: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  opacity: 0.8;
  transition: color 0.25s ease, transform 0.25s ease, opacity 0.25s ease;
}

.nav-link:hover {
  color: #9dd3f5; /* azul, por ejemplo */
  opacity: 1;
  transform: translateY(-1px);
}

